<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

{% trans_default_domain 'homepage' %}

<head>
    <title>
        {% trans %}General Terms and Conditions{% endtrans %}
    </title>
</head>

<body>
    <h1 style="text-decoration: underline">{% trans %}General Terms and Conditions{% endtrans %}</h1>

    <h1 style="margin-bottom: 50px; font-size: 3em">Art Gallery</h1>

    <h3 style="text-decoration: underline; margin-top: 50px">Article 1. Definitions</h3>

    <p><span style="font-style: italic">In these General Terms and Conditions the following terms are defined as stated below:</span><br/><br/><br/>


        1. ‘the artwork’: the work that is referred to in the sales receipt.<br/>
        2. ‘the Artist’: the maker of the artwork which is offered for sale.<br/>
        3. ‘the Gallery’: the Gallery that offers the artwork for sale for the Artist or for the Gallery itself.<br/>
        4. ‘the Purchaser’: the (legal) person who buys the artwork from or via the Gallery.<br/>
        5. ‘the purchase agreement’: the agreement, of which the essentials are given in the sales receipt, in which the Purchaser buys the artwork from or via the Gallery.<br/>
        6. ‘the exposition’: the occasion in which the artwork is or will be exposed.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 2. Relevant Terms and Conditions</h3>


    <p>2.1 These General Terms and Conditions are applicable to all agreements, assignments, deals, quotations, offered by or closed with the Gallery. From these General Terms and Conditions may only be deviated by means of an explicit written agreement.
        <br/><br/>2.2 Unless expressly agreed upon otherwise in writing, the General Terms and Conditions of the Purchaser do not apply to the relationship between the Purchaser and the Gallery.
    </p>


    <h3 style="text-decoration: underline; margin-top: 50px">Article 3. The Establishment of the Purchase Agreement</h3>

    <p>3.1 A purchase agreement between the Gallery and the Purchaser is concluded when the Gallery expressly accepts the offer of the Purchaser in writing.</p>


    <h3 style="text-decoration: underline; margin-top: 50px">Article 4. Prices and Costs</h3>

    <p>4.1 Unless noted otherwise or agreed upon differently, all the prices stated by the Gallery include VAT and other government taxes.<br/><br/>
        4.2 Costs for transmission, import or export duties, packing costs and insurance, shall be borne by the Purchaser, unless expressly agreed upon otherwise.<br/><br/>
        4.3 A statutory increase or decrease in VAT or other government taxes may be reflected in the prices.</p>


    <h3 style="text-decoration: underline; margin-top: 50px">Article 5. Delivery</h3>


    <p>5.1 The artwork will be delivered to the Purchaser within 1 month after the exposition, unless agreed upon otherwise. Delivery can take place earlier, if the artwork is in the inventory and is not exposed/will not be exposed.<br/><br/>
        5.2 The Purchaser owes the full selling price in case of advance payment. The delivery period of article 5.1 will not start until the payment is received by the Gallery in the manner indicated by the Gallery on the sales receipt.<br/><br/>
        5.3 Delivery periods can never be considered as fatal periods, unless expressly agreed upon otherwise.<br/><br/>
        5.4 Delivery of the artwork will take place when the Purchaser picks up or takes the artwork from an address indicated by the Gallery.<br/><br/>
        5.5 The risk of loss, destruction and/or damage of the artwork shall pass to the Purchaser upon delivery. The same passage of risk takes place if the Gallery is ready to deliver the artwork but the Purchaser does not pick up the artwork at the agreed delivery time. In case the Gallery is ready to deliver the artwork but the Purchaser does not pick up the artwork at the agreed delivery time, all costs incurred by the Gallery in relation to the offering of the artwork and all costs for transportation, storage, insurance, will be borne by the Purchaser. In addition, the Purchaser is liable for any damage the Gallery suffers resulting from non-purchase.<br/><br/>
        5.6 If the artwork is delivered while the selling price is not paid entirely to the Gallery yet, the ownership of the artwork is not transferred. Ownership of the artwork shall transfer to the Purchaser immediately after the Purchaser complies with its payment obligation.<br/>
        5.7 If the Purchaser pawns the artwork in whole or in part to third parties or tries to transfer the ownership of the artwork before the Purchaser has paid the entire selling price to the Gallery, the Purchaser will be liable to the galley a fine, equivalent to the part of the selling price that remained unpaid, without prejudice to the Gallery’s right to full compensation of damage. Furthermore, the Purchaser will be obligated to provide the Gallery with information of the aforesaid third parties.<br/><br/>
        5.8 In case the artwork is brought to the Gallery by the Purchaser for treatment or reparation, the risk of loss, destruction and/or damage of the artwork remains with the Purchaser, unless agreed upon otherwise in a written agreement.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 6. Force Majeure</h3>


    <p>6.1 If the Gallery is not able to fulfil an obligation towards the Purchaser due to force majeure, the obligation will be suspended during the period of force majeure. In case the period of force majeure has lasted six months, both parties have the right to terminate the agreement fully or partially, without any right to compensation of damage and costs or interests.<br/><br/>
        6.2 ‘Force majeure’ means any circumstance that occurs independently of the desire of the Gallery holder, even though this circumstance could be foreseen at the time the agreement was entered into, which temporarily or permanently prevents the performance of the agreement. Force majeure in any case includes: war or similar situations, riots, sabotage, boycott, strikes, occupation, blockades, illness of the Gallery holder, shortcomings of transporters, natural disasters, bad weather, lightning strikes, floods, fires, explosion and efflux of dangerous chemicals.</p>




    <h3 style="text-decoration: underline; margin-top: 50px">Article 7. Payment</h3>


    <p>7.1 Payment should be received by the Gallery within 14 days after the date of the invoice, unless agreed upon otherwise in a written agreement. The Gallery is authorised to make partial deliveries and to invoice these separately.<br/><br/>
        7.2 All payments of the Purchaser need to be made without any deduction or set-off, unless the reimbursement from the Purchaser was explicitly acknowledged or upheld by the court. The Purchaser does not have the right to suspend his payment obligation.<br/><br/>
        7.3 The Gallery has the right to demand payment in advance or payment by cash, if the Gallery sees reason to demand so.<br/><br/>
        7.4 Through expiry of the deadline of 30 days after the invoice date, the Purchaser is deemed to be in default without a notice of default or reminder being required.<br/><br/>
        7.5 Through expiry of the deadline of 30 days after the invoice date, the Purchaser will owe an immediately claimable interest of 1% a month on amounts due from the date of default. Furthermore, the Gallery may suspend any further deliveries until entire payment of all the amounts due have been received by the Gallery.<br/><br/>
        7.6 All the costs, both judicial and extra-judicial costs (inclusive all costs connected to legal aid services), which are connected to the enforcement of the Gallery’s rights against the Purchaser, will be borne by the Purchaser.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 8. Termination after Non-payment</h3>


    <p>8.1 If payment is not made within the stipulated period after due warning, the Gallery is authorised to fully or partially terminate the agreement by way of a written statement to the Purchaser, notwithstanding the Gallery’s right to compensation for damages.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 9. Termination</h3>


    <p>9.1 If the Purchaser does not, not conveniently or not timely comply with any obligation derived from the purchase agreement, as well as in case of bankruptcy or (provisional) suspension of payment of the Purchaser, the Purchaser shall be in default without a notice of default being required. In this case the Gallery is, without judicial intervention, entitled to:<br/>



        suspend the performance of the purchase agreement until the fulfilment of this obligation has been secured to a sufficient degree in the opinion of the Galley; and/or<br/>


        fully or partially terminate any purchase agreement entered into with the Purchaser, notwithstanding the Gallery’s right to compensation for damages.<br/><br/>


        9.2 In all cases defined in article 9.1, all claims of the Gallery towards the Purchaser are immediately due and payable. Furthermore, the Gallery is entitled to reclaim the respective artworks that remain unpaid. In that case, the Gallery and her representative(s) will be entitled to enter the building(s) of the Purchaser in order to take possession of the respective artworks so that the Gallery can exercise its rights.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 10. Warranty</h3>


    <p>10.1 The Purchaser buys the artwork in the condition of the artwork at the time of the sale. The Purchaser should take note of the condition of the artwork prior to the sale.<br/><br/>
        10.2 The Gallery guarantees the authenticity of the artwork, unless the guarantee is reserved expressly or tacitly, e.g. by the amount of the price paid for the artwork.<br/><br/>
        10.3 The Gallery guarantees compensation for the Purchaser for damage of the artwork, occurring during the warranty period of 30 days, unless the Purchaser or a third party is fully or partially liable for the respective damage on the basis of the law.<br/><br/>
        10.4 Complaints or disputes about non-conformity of the artwork should be made known in writing to the Gallery within a period of two months after the purchase or the occurrence of the damage.<br/><br/>
        10.5 If a complaint has been made on time, correctly and in accordance with article 10 and 12, the obligations of the Gallery arising therefrom are the following:<br/><br/>
        If in the reasonable opinion of the Gallery, it has been sufficiently demonstrated that the artwork is damaged and that the Gallery is liable for this damage, the Gallery will have the choice:<br/>
        to deliver a new version of the damaged artwork that is identical to the damaged artwork against the returning of the damaged artwork.<br/>
        to repair the respective damaged artwork.<br/>
        to give the Purchaser a discount on the selling price which is determined in consultation with the Purchaser.<br/><br/>
        If in the reasonable opinion of the Gallery, it has been sufficiently demonstrated that the artwork is in conflict with a statement of authenticity as referred to in the provision of article 10.2 and the artwork is not authentic, the Purchaser is only entitled to restitution of the selling price paid by the Purchaser – with no compensation for lost interest – against a simultaneous return of the artwork to the Gallery, provided that the Purchaser returns the artwork in the same condition of the artwork at the time of delivery of the artwork. By refunding the selling price, the Gallery cannot be held to any further claim for damage by the Purchaser. In case the Purchaser cannot return the artwork to the Gallery in the same condition as it was delivered in to the Purchaser by the Gallery, the claims of the Purchaser shall be extinguished and the Gallery shall not be held to reimburse.<br/><br/>
        10.6 In case the Gallery carries out repairs to the artwork, the artwork will remain for the Purchaser’s risk. Furthermore, the artwork also remains for the Purchaser’s risk until the moment at which the Gallery has taken back the artwork in accordance with the provision of 10.5.<br/><br/>
        10.7 Except as forth in this Article 10 the Gallery is not liable towards the Purchaser.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 11. Copyright</h3>


    <p>11.1 The copyright of the artwork belongs to the Artist who made the artwork. The copyright of the catalogue, brochures, and suchlike belong to the Gallery. The copyright is explicitly reserved by the Artist and the Gallery.<br/><br/>
        11.2 The Purchaser is not allowed to make the artwork publicly available and/or to replicate it. The Gallery can mediate between the Artist and the Purchaser if the Purchaser wishes to make the artwork available to the public or replicate it.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 12. Expiry Period</h3>


    <p>12.1 Unless these General Terms and Conditions provide otherwise, rights of claim and other powers of the Purchaser with respect to the sale and purchase of the artwork will in any case terminate one year after the agreement was concluded.<br/><br/>
        12.2 Rights and powers of the Purchaser arising under the purchase agreement shall not be transferable.</p>




    <h3 style="text-decoration: underline; margin-top: 50px">Article 13. Settlement</h3>


    <p>13.1 Settlement by the Purchaser of a claim of the Gallery with a counterclaim on the Gallery is only permitted if the counterclaim is explicitly acknowledged by the Gallery or if the counterclaim is finally upheld by the court.</p>



    <h3 style="text-decoration: underline; margin-top: 50px">Article 14. Applicable Law</h3>


    <p>14.1 Agreements and any other legal relationships between the Purchaser and the Gallery are governed exclusively by the laws of Belgium.</p>

    <p style="margin-bottom: 100px"></p>

    <a href="{{ path('homepage', {'_locale': app.request.locale}) }}" class="btn btn-secondary btn-lg fixed-bottom" role="button">{% trans %}Back to HomePage{% endtrans %}</a>
</body>
