<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

<h1 style="text-decoration: underline">Privacy Policy</h1>

<h1 style="margin-bottom: 50px; font-size: 3em">Art Gallery</h1>

<p>Beatae in molestiae et architecto. Iusto consequatur quia ut et totam. Ea minima laboriosam autem deserunt molestias praesentium quod. Et ut fuga illo earum aliquid eos ut pariatur.<br/>
    Eum molestias expedita illum doloribus. Sed accusamus magni rerum modi illo qui. Eligendi odio ducimus cupiditate reprehenderit similique voluptas. Tempore voluptates quo est aut.<br/><br/>
    Unde vero vel facilis asperiores voluptatem. Velit voluptatum ut ad rerum aperiam dolores. Quod omnis ipsa et necessitatibus voluptas sunt optio.<br/>
    Quis et eos dicta rerum ut facilis rerum. Vel non repellendus aut ut odit laudantium alias ipsam. Voluptatem perferendis ut labore aliquid officiis consectetur.<br/>
    Ipsum accusamus qui quam sit qui. Aut voluptatum ipsa laboriosam aut. Rem voluptatum cumque numquam eum voluptas. Veritatis deserunt sed tenetur nisi voluptatum et nihil corporis.<br/>
    Qui inventore debitis ex illum voluptas aut et et. Et quo velit eum ut ullam. Eius autem qui accusantium velit natus aperiam tempora.<br/><br/>
    Assumenda nihil quisquam neque natus expedita non. Quidem et ut quo. Deserunt incidunt placeat id enim molestiae accusamus.<br/>
    Laboriosam sint officiis non id tenetur laborum commodi sapiente. Accusantium doloremque quibusdam necessitatibus non.<br/>
    Ipsa officia qui voluptatem. Nihil necessitatibus harum cum qui necessitatibus sapiente voluptatum.<br/>
    Beatae in molestiae et architecto. Iusto consequatur quia ut et totam. Ea minima laboriosam autem deserunt molestias praesentium quod. Et ut fuga illo earum aliquid eos ut pariatur.<br/>
    Eum molestias expedita illum doloribus. Sed accusamus magni rerum modi illo qui. Eligendi odio ducimus cupiditate reprehenderit similique voluptas. Tempore voluptates quo est aut.<br/><br/>
    Unde vero vel facilis asperiores voluptatem. Velit voluptatum ut ad rerum aperiam dolores. Quod omnis ipsa et necessitatibus voluptas sunt optio.<br/>
    Quis et eos dicta rerum ut facilis rerum. Vel non repellendus aut ut odit laudantium alias ipsam. Voluptatem perferendis ut labore aliquid officiis consectetur.<br/>
    Ipsum accusamus qui quam sit qui. Aut voluptatum ipsa laboriosam aut. Rem voluptatum cumque numquam eum voluptas. Veritatis deserunt sed tenetur nisi voluptatum et nihil corporis.<br/>
    Qui inventore debitis ex illum voluptas aut et et. Et quo velit eum ut ullam. Eius autem qui accusantium velit natus aperiam tempora.<br/><br/>
    Assumenda nihil quisquam neque natus expedita non. Quidem et ut quo. Deserunt incidunt placeat id enim molestiae accusamus.<br/>
    Laboriosam sint officiis non id tenetur laborum commodi sapiente. Accusantium doloremque quibusdam necessitatibus non.<br/>
    Ipsa officia qui voluptatem. Nihil necessitatibus harum cum qui necessitatibus sapiente voluptatum.<br/>
    Beatae in molestiae et architecto. Iusto consequatur quia ut et totam. Ea minima laboriosam autem deserunt molestias praesentium quod. Et ut fuga illo earum aliquid eos ut pariatur.<br/>
    Eum molestias expedita illum doloribus. Sed accusamus magni rerum modi illo qui. Eligendi odio ducimus cupiditate reprehenderit similique voluptas. Tempore voluptates quo est aut.<br/><br/>
    Unde vero vel facilis asperiores voluptatem. Velit voluptatum ut ad rerum aperiam dolores. Quod omnis ipsa et necessitatibus voluptas sunt optio.<br/>
    Quis et eos dicta rerum ut facilis rerum. Vel non repellendus aut ut odit laudantium alias ipsam. Voluptatem perferendis ut labore aliquid officiis consectetur.<br/>
    Ipsum accusamus qui quam sit qui. Aut voluptatum ipsa laboriosam aut. Rem voluptatum cumque numquam eum voluptas. Veritatis deserunt sed tenetur nisi voluptatum et nihil corporis.<br/>
    Qui inventore debitis ex illum voluptas aut et et. Et quo velit eum ut ullam. Eius autem qui accusantium velit natus aperiam tempora.<br/><br/>
    Assumenda nihil quisquam neque natus expedita non. Quidem et ut quo. Deserunt incidunt placeat id enim molestiae accusamus.<br/>
    Laboriosam sint officiis non id tenetur laborum commodi sapiente. Accusantium doloremque quibusdam necessitatibus non.<br/>
    Ipsa officia qui voluptatem. Nihil necessitatibus harum cum qui necessitatibus sapiente voluptatum.<br/>
    Beatae in molestiae et architecto. Iusto consequatur quia ut et totam. Ea minima laboriosam autem deserunt molestias praesentium quod. Et ut fuga illo earum aliquid eos ut pariatur.<br/>
    Eum molestias expedita illum doloribus. Sed accusamus magni rerum modi illo qui. Eligendi odio ducimus cupiditate reprehenderit similique voluptas. Tempore voluptates quo est aut.<br/><br/>
    Unde vero vel facilis asperiores voluptatem. Velit voluptatum ut ad rerum aperiam dolores. Quod omnis ipsa et necessitatibus voluptas sunt optio.<br/>
    Quis et eos dicta rerum ut facilis rerum. Vel non repellendus aut ut odit laudantium alias ipsam. Voluptatem perferendis ut labore aliquid officiis consectetur.<br/>
    Ipsum accusamus qui quam sit qui. Aut voluptatum ipsa laboriosam aut. Rem voluptatum cumque numquam eum voluptas. Veritatis deserunt sed tenetur nisi voluptatum et nihil corporis.<br/>
    Qui inventore debitis ex illum voluptas aut et et. Et quo velit eum ut ullam. Eius autem qui accusantium velit natus aperiam tempora.<br/><br/>
    Assumenda nihil quisquam neque natus expedita non. Quidem et ut quo. Deserunt incidunt placeat id enim molestiae accusamus.<br/>
    Laboriosam sint officiis non id tenetur laborum commodi sapiente. Accusantium doloremque quibusdam necessitatibus non.<br/>
    Ipsa officia qui voluptatem. Nihil necessitatibus harum cum qui necessitatibus sapiente voluptatum.<br/>
</p>

<p style="margin-bottom: 100px"></p>

<a href="{{ path('homepage') }}" class="btn btn-secondary btn-lg fixed-bottom" role="button">Back to HomePage</a>