<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        {# Column Terms & Conditions #}
        <div class="col-md-4">
            <a href="#" class="footer-link">General Terms and Conditions</a>
            <p></p>
            <a href="#" class="footer-link">Privacy policy</a>
        </div>
        {# Column Informations #}
        <div class="col-md-4">
            <figure>
                <figcaption class="font-white">Follow us on :</figcaption>
                <a href="https://www.facebook.com/" target="_blank"><img src="{{ asset('assets/images/base_images/logo_facebook.png') }}" alt="facebook" style="margin-right: 15px;"></a>
                <a href="https://twitter.com/?lang=en" target="_blank"><img src="{{ asset('assets/images/base_images/logo_twitter.jpg') }}" alt="twitter"></a>
            </figure>
            <p class="font-white">ART GALLERY</p>
            <p class="font-white">Belgium</p>
            <p></p>
            <p class="font-white">+32 (0)499 99 99 99</p>
            <p class="font-white">info@art_gallery.com</p>
        </div>
        {# Column Newsletter #}
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label class="font-white" style="font-size: 1.2em;">NEWSLETTER</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="email address">
                </div>
                <button type="submit" class="btn btn-secondary" style="width: 100%; margin-top: -17px;">Subscribe</button>
            </form>
        </div>
    </div>
</div>
