<div class="container">
        <div class="login-zone">
            <a href="#">Login</a>
        </div>

    <div class="row">
        <div class="col-md-12">
            <img id="logo_site" src="{{ asset('assets/images/base_images/logo_site.png') }}" alt="site logo"/>
        </div>
    </div>

    {# Navbar #}
        <div class="menu-custom">
            <div class="menu-custom-border-grey">
                <div class="navbar-custom">
                    {# Element Home #}
                    <a href="#">Home</a>
                    {# Element Painting#}
                    <div class="dropdown-custom">
                        <button class="dropbtn-custom"><a href="#">Paintings</a></button>
                        <div class="dropdown-content-custom">
                            <a href="#">All</a>
                            <a href="#">latest added</a>
                            <a href="#">Discount</a>
                            <span>===========</span>
                            <a href="#">Medias</a>
                            <span>===========</span>
                            <a href="#">Styles</a>
                        </div>
                    </div>
                    {# Element Artists #}
                    <div class="dropdown-custom">
                        <button class="dropbtn-custom"><a href="#">Artists</a></button>
                        <div class="dropdown-content-custom">
                            <a href="#">All</a>
                        </div>
                    </div>
                    {# Element Subscribe #}
                    <a href="#">Sign-In</a>
                    {# Element Contact #}
                    <a href="#">Contact</a>
                    {# Element Forum #}
                    <a href="#">Forum</a>
                </div>
            </div>
        </div>
    {# END Navbar #}
</div>
