{% extends 'base.html.twig' %}

{% trans_default_domain 'media' %}

{% block title %}{% trans %}Medias{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for media in medias %}
                <div class="col-md-3 margin-top-bottom">
                    <a href="{{ path('painting_media_view_one', {id:media['id']}) }}">
                        <div class="card bg-dark text-white max-image-size">
                            <img src="{{ asset('assets/images/medias/' ~ media['image']) }}" class="card-img" alt="{{ media['image'] }}" style="width: 198px; height: 198px;">
                            <div class="card-img-overlay">
                                <p class="card-text align-text-middle">{{ media['name'] }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
