{% extends 'base.html.twig' %}

{% trans_default_domain 'artist' %}

{% block title %}{% trans %}Artists{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for artist in artists %}
                <div class="col-md-3 margin-top-bottom">
                    <a href="{{ path('artist_view_one', {id:artist['id']}) }}">
                        <div class="card" style="background-color: lightgrey;">
                            <img src="{{ vich_uploader_asset(artist, 'imageFile', 'App\\Entity\\Artist') | imagine_filter('image_listing') }}" class="card-img-top" alt="{{ artist['image'] }}">
                            <div class="card-body">
                                <p class="card-text painting-link" style="text-align: center; font-size: 1.3em;">{{ artist['full_name'] }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
