<style>
    a{
        text-decoration: underline;
        color: green;
    }
    h1{
        color: dodgerblue;
        margin-bottom: 30px;
    }
    h3, p{
        margin-bottom: 30px;
    }
</style>

<h1>Newsletter Update :</h1>
<h3>{{ newsletter.subject }}</h3>
<p>{{ newsletter.message }}</p>
<p>Visit our <a href="http://localhost/symfony/Art_Gallery/public/">Website</a> for more information</p>
