<style>
    h2{
        color: green;
    }
    a{
        color: red;
    }
</style>

{% trans_default_domain 'email' %}

<h2>{% trans %}Your account has been successfully registered{% endtrans %}</h2>
<p>{% trans %}You have received this email following your registration on Art Gallery{% endtrans %}</p>

<p>{% trans %}You can access Art Gallery{% endtrans %} <a href="http://localhost/symfony/Art_Gallery/public/">{% trans %}here{% endtrans %}</a></p>
<p>{% trans %}If this action wasn't your doing, you can contact us{% endtrans %}<br/>
    @ info@art_gallery.com</p>
