<style>
    h2{
        color: green;
    }
    a{
        color: red;
    }
</style>

<h2>Your account has been successfully registered</h2>
<p>You have received this email following your registration on Art Gallery</p>

<p>You can access Art Gallery here <a href="http://localhost/symfony/Art_Gallery/public/">here</a></p>
<p>If this action wasn't your doing, you can contact us<br/>
    @ info@art_gallery.com</p>
